1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#The Mickey Mouse Problem
#a
for i in range(1, 101):
    if i%15 == 0:
        print("MickeyMouse")
    elif i%3 == 0:
        print("Mickey")
    elif i%5 == 0:
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [2]:
#b
#defining a list to contain all the results

def converter(list):
    return tuple(list)

my_list = []
for i in range(1, 101):
    if i%15 == 0:
        my_list.append("MickeyMouse")
    elif i%3 == 0:
        my_list.append("Mickey")
    elif i%5 == 0:
        my_list.append("Mouse")
    else:
        my_list.append(i)

for i in range(1, len(my_list)):
    if my_list[i] == "Mickey":
        my_list[i] = "Donald"
    elif my_list[i] == "Mouse":
        my_list[i] = "Duck"
    elif my_list[i] == "MickeyMouse":
        my_list[i] = "DonaldDuck"

print("\n")

print(converter(my_list))

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#Swap function

def swap_tmp(a, b):
    tmp = a
    a = b
    b = tmp
    return a, b

print(swap_tmp(1, 2))

def swap(a, b):
    a, b = b, a
    return a, b

print(swap(3, 4))

(2, 1)
(4, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [29]:
#Computing the distance
def distance(a, b):
    d2 = (a[0]+b[0])**2 + (a[1]+b[1])**2
    d = pow(d2, 0.5)
    return d

u = (5, 3)
v = (0, 12)

print(distance(u, v))

15.811388300841896

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [7]:
#Counting letters
low = s.lower()
d = {}
for i in low:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
print(d)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [9]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [11]:
#Isolating the unique
def isolate(list):
    d2 = {}
    for i in list:
        if i in d2:
            d2[i] += 1
        else: 
            d2[i] = 1
    vect = []
    for i in d2:
        if d2[i] == 1:
            vect.append(i)
    return vect
            
l2 = (1, 2, 7, 0, 9, 2)
print("List of numbers that appear only once:")
print(isolate(l))

List of numbers that appear only once:
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [12]:
#Combination of functions
def square(a):
    return a**2

def cube(a):
    return a**3

def sixth(a):
    return cube(square(a))

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [4]:
#Cubes
qubes = []
for i in range(0, 11):
    qubes.append(i**3)  

cubes = [i**3 for i in range(0, 11)]
print(qubes)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

Solution:

(3, 4, 5)

(5, 12, 13)	

(7, 24, 25)	

(8, 15, 17)

(9, 40, 41)

(11, 60, 61)	

(12, 35, 37)

(13, 84, 85)

(16, 63, 65)

(20, 21, 29)

(28, 45, 53)

(33, 56, 65)

(36, 77, 85)

(39, 80, 89)

(48, 55, 73)

(65, 72, 97)

In [151]:
#Nested list comprehension
l2 = [(a, b, c) for c in range(1, 100) for b in range (1, c) for a in range (1, b) if a**2 + b**2 == c**2]

print(l2)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [152]:
#Normalization

def normalize(t):     #defining the normalization function
    norm = [1] * len(t)
    tup = tuple(norm)
    return tup

t = (0, 4, 7, -4)

print(normalize(t))

(1, 1, 1, 1)

In [17]:
#Normalization 2

def new_norm(t):
    l = [1] * len(t)
    for i in range (1, len(t)):
        if t[i] != 0:
            l[i] = 1/t[i]
        else:
            l[i] = "Impossible"
    return tuple(l)

t = (1, 4, 9, 0, -4)

print(new_norm(t))

(1, 0.25, 0.1111111111111111, 'Impossible', -0.25)